---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import Layout from '../layouts/default.astro';
import Button from '../components/button.astro';

import LiriaGraphicsLogo from '../../public/logo_liria_graphics.png';
import AvatioLogo from '../../public/logo_avatio.svg';

import { links } from '../utils/microCms';
---

<Layout>
    <div class="h-screen flex flex-col items-center justify-center gap-8">
        <h1
            class="pb-8 pl-[1rem] text-xl font-extralight tracking-[1rem] text-zinc-400"
        >
            Liry24
        </h1>

        <div class="w-full flex flex-col gap-2">
            <Button
                to={links.liria}
                class="w-full py-10 bg-zinc-900 hover:bg-zinc-800"
            >
                <Icon name="liria" size="42" />
            </Button>

            <div class="w-full grid grid-cols-2 gap-2">
                <Button
                    to={links.booth}
                    class="group relative w-full py-6 overflow-hidden"
                >
                    <div class="max-w-48 flex items-center gap-4">
                        <Image
                            src={LiriaGraphicsLogo}
                            alt="Liria Graphics Logo"
                            class="shrink pt-2 select-none"
                        />
                    </div>
                </Button>
                <Button to={links.avatio} class="w-full py-6 gap-4">
                    <div class="max-w-48 max-h-12 flex items-center gap-4">
                        <Image
                            src={AvatioLogo}
                            alt="Avatio Logo"
                            width={124}
                            class="shrink select-none"
                        />
                    </div>
                </Button>
            </div>
        </div>

        <div class="flex flex-col items-center justify-center gap-2">
            <h2
                class="pl-[0.75rem] tracking-[0.75rem] font-extralight text-zinc-400"
            >
                create
            </h2>
            <div class="flex flex-wrap items-center justify-center gap-2">
                {
                    links.create.map((link) => (
                        <Button to={link.url}>
                            <Icon name={link.icon} size={link.iconSize ?? 24} />
                        </Button>
                    ))
                }
            </div>
        </div>

        <div class="flex flex-col items-center justify-center gap-2">
            <h2
                class="pl-[0.75rem] tracking-[0.75rem] font-extralight text-zinc-400"
            >
                persona
            </h2>
            <div class="flex flex-wrap items-center justify-center gap-2">
                {
                    links.persona
                        .filter((link) => !link.hidden)
                        .map((link) => (
                            <Button to={link.url}>
                                <Icon
                                    name={link.icon}
                                    size={link.iconSize ?? 24}
                                />
                            </Button>
                        ))
                }
            </div>
        </div>
    </div>
</Layout>
