---
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import Layout from '@/layouts/default.astro'
import ToolIcon from '@/components/toolIcon.astro'
import AvatioLogo from '@public/logo_avatio.svg'

const arts = [
    {
        url: 'https://www.artstation.com/artwork/obn6Az',
        src: 'https://cdna.artstation.com/p/assets/images/images/077/981/164/large/liry24-compo-2.jpg',
        alt: 'A research',
    },
    {
        url: 'https://www.artstation.com/artwork/yJRe6O',
        src: 'https://cdnb.artstation.com/p/assets/images/images/048/392/847/large/hiroki-yoshida-c-001.jpg',
        alt: 'Audio Mixer "Pro MIX"',
    },
    {
        url: 'https://www.artstation.com/artwork/R3yWxr',
        src: 'https://cdnb.artstation.com/p/assets/images/images/028/974/657/large/hiroki-yoshida-comp.jpg',
        alt: 'Danboard',
    },
    {
        url: 'https://www.artstation.com/artwork/aRAelz',
        src: 'https://cdna.artstation.com/p/assets/images/images/026/192/936/large/hiroki-yoshida-untitled26c.jpg',
        alt: 'No Parking',
    },
    {
        url: 'https://www.artstation.com/artwork/Z5yElN',
        src: 'https://cdna.artstation.com/p/assets/images/images/025/847/470/large/hiroki-yoshida-compo-lr.jpg',
        alt: 'Coleman',
    },
    {
        url: 'https://www.artstation.com/artwork/Vdm48Z',
        src: 'https://cdna.artstation.com/p/assets/images/images/025/160/038/large/hiroki-yoshida-compo-8.jpg',
        alt: 'Ticket gate',
    },
    {
        url: 'https://www.artstation.com/artwork/Ya3D0V',
        src: 'https://cdnb.artstation.com/p/assets/images/images/024/661/105/large/hiroki-yoshida-compo-2100.jpg',
        alt: 'Telephones',
    },
]

const create = [
    {
        url: '/github',
        label: 'GitHub',
        icon: 'simple-icons:github',
        iconSize: 20,
    },
    {
        url: '/artstation',
        label: 'ArtStation',
        icon: 'simple-icons:artstation',
        iconSize: 20,
    },
]

const social = [
    {
        url: '/x',
        label: 'Twitter',
        icon: 'simple-icons:twitter',
        iconSize: 20,
    },
    {
        url: '/discord',
        label: 'Discord',
        icon: 'simple-icons:discord',
        iconSize: 20,
    },
    {
        url: '/vrchat',
        label: 'VRChat',
        icon: 'mingcute:message-2-fill',
        iconSize: 20,
    },
    {
        url: '/avatio',
        label: 'Avatio',
        icon: 'avatio',
        iconSize: 20,
    },
]

const persona = [
    {
        url: '/spotify',
        label: 'Spotify',
        icon: 'simple-icons:spotify',
        iconSize: 20,
    },
    {
        url: '/steam',
        label: 'Steam',
        icon: 'simple-icons:steam',
        iconSize: 20,
    },
    {
        url: '/valorant',
        label: 'Valorant',
        icon: 'simple-icons:valorant',
        iconSize: 20,
    },
    {
        url: '/pulse',
        label: 'Pulse',
        icon: 'mingcute:game-2-fill',
        iconSize: 20,
    },
    {
        url: '/geartics',
        label: 'Geartics',
        icon: 'mingcute:device-fill',
        iconSize: 20,
    },
]
---

<Layout>
    <div class="flex min-h-[100dvh] flex-col items-start gap-14 pt-20">
        <div class="flex grow flex-col items-start gap-14">
            <div class="flex flex-col items-start gap-6">
                <h1
                    class="text-xl leading-none font-light tracking-[1rem] whitespace-nowrap text-zinc-300"
                >
                    Liry24
                </h1>

                <p class="text-sm font-light tracking-[0.3rem] text-zinc-400">
                    3D Artist / Developer / Gamer
                </p>

                <div class="flex w-full flex-wrap items-center gap-3">
                    <ToolIcon
                        label="Blender"
                        icon="simple-icons:blender"
                        iconSize={18}
                    />
                    <ToolIcon
                        label="Autodesk Maya"
                        icon="simple-icons:autodeskmaya"
                        iconSize={16}
                    />
                    <ToolIcon
                        label="Houdini"
                        icon="simple-icons:houdini"
                        iconSize={16}
                        class="ml-0.5"
                    />
                    <ToolIcon
                        label="Adobe"
                        icon="ic:baseline-adobe"
                        iconSize={21}
                    />
                    <ToolIcon
                        label="Affinity"
                        icon="simple-icons:affinity"
                        iconSize={17}
                    />
                    <ToolIcon
                        label="DaVinci Resolve"
                        icon="simple-icons:davinciresolve"
                        iconSize={17}
                    />
                    <ToolIcon
                        label="Unity"
                        icon="simple-icons:unity"
                        iconSize={17}
                    />
                    <ToolIcon
                        label="Visual Studio Code"
                        icon="simple-icons:visualstudiocode"
                        iconSize={16}
                    />
                    <ToolIcon
                        label="Git"
                        icon="simple-icons:git"
                        iconSize={17}
                        class="ml-px"
                    />
                    <ToolIcon
                        label="TypeScript"
                        icon="simple-icons:typescript"
                        iconSize={16}
                    />
                    <ToolIcon
                        label="Python"
                        icon="simple-icons:python"
                        iconSize={16}
                        class="ml-px"
                    />
                    <ToolIcon
                        label="Nuxt"
                        icon="simple-icons:nuxt"
                        iconSize={19}
                    />
                    <ToolIcon
                        label="Astro"
                        icon="simple-icons:astro"
                        iconSize={17}
                        class="-mt-px"
                    />
                    <ToolIcon
                        label="Tauri"
                        icon="simple-icons:tauri"
                        iconSize={16}
                        class="-ml-px"
                    />
                    <ToolIcon
                        label="Tailwind CSS"
                        icon="simple-icons:tailwindcss"
                        iconSize={18}
                        class="-ml-px"
                    />
                    <ToolIcon
                        label="PostgreSQL"
                        icon="simple-icons:postgresql"
                        iconSize={17}
                        class="-ml-0.5"
                    />
                </div>
            </div>

            <div class="-my-4 h-px w-full bg-zinc-800"></div>

            <div class="flex flex-col gap-6">
                <a
                    href="https://liria.work"
                    target="_blank"
                    class="flex items-center gap-3 transition-opacity hover:opacity-60 focus-visible:opacity-60"
                >
                    <span
                        class="text-sm leading-none font-extralight tracking-[0.6rem] whitespace-nowrap text-zinc-400"
                    >
                        //
                    </span>
                    <Icon name="liria" size="20" class="mr-1.5 text-zinc-400" />
                    <h2
                        class="text-sm leading-none font-extralight tracking-[0.6rem] whitespace-nowrap text-zinc-400"
                    >
                        Liria
                    </h2>
                </a>

                <div class="flex items-start gap-7">
                    <a
                        href="https://eicosapenta.booth.pm"
                        target="_blank"
                        class="flex items-baseline transition-opacity hover:opacity-60 focus-visible:opacity-60"
                    >
                        <span class="text-4xl font-bold tracking-tight">
                            Liria
                        </span>
                        <span class="text-4xl font-thin tracking-tight">
                            Graphics
                        </span>
                    </a>
                    <a
                        href="https://avatio.me"
                        target="_blank"
                        class="flex items-center transition-opacity hover:opacity-60 focus-visible:opacity-60"
                    >
                        <Image
                            src={AvatioLogo}
                            alt="Avatio Logo"
                            width={108}
                            loading="eager"
                            class="shrink select-none"
                        />
                    </a>
                </div>
            </div>

            <div class="flex flex-col items-start gap-6">
                <h2
                    class="text-sm leading-none font-extralight tracking-[0.6rem] whitespace-nowrap text-zinc-400"
                >
                    // create
                </h2>
                <div class="flex flex-wrap items-start gap-3">
                    {
                        arts.map((art) => (
                            <a href={art.url} target="_blank">
                                <Image
                                    src={art.src}
                                    alt={art.alt}
                                    width={96}
                                    height={96}
                                    loading="eager"
                                    fit="cover"
                                    class="size-24 shrink-0 rounded-lg object-cover"
                                />
                            </a>
                        ))
                    }
                </div>
                <div class="flex flex-wrap items-start gap-5">
                    {
                        create.map((link) => (
                            <a
                                href={link.url}
                                target="_blank"
                                class="flex items-center gap-3 transition-opacity hover:opacity-60 focus-visible:opacity-60"
                            >
                                <Icon name={link.icon} size={link.iconSize} />
                                <span class="text-sm font-light tracking-[0.4rem] text-zinc-300">
                                    {link.label}
                                </span>
                            </a>
                        ))
                    }
                </div>
            </div>

            <div class="flex flex-col items-start gap-6">
                <h2
                    class="text-sm leading-none font-extralight tracking-[0.6rem] whitespace-nowrap text-zinc-400"
                >
                    // social
                </h2>
                <div class="flex flex-wrap items-start gap-5">
                    {
                        social.map((link) => (
                            <a
                                href={link.url}
                                target="_blank"
                                class="flex items-center gap-3 transition-opacity hover:opacity-60 focus-visible:opacity-60"
                            >
                                <Icon name={link.icon} size={link.iconSize} />
                                <span class="text-sm font-light tracking-[0.4rem] text-zinc-300">
                                    {link.label}
                                </span>
                            </a>
                        ))
                    }
                </div>
            </div>

            <div class="flex flex-col items-start gap-6">
                <h2
                    class="text-sm leading-none font-extralight tracking-[0.6rem] whitespace-nowrap text-zinc-400"
                >
                    // persona
                </h2>
                <div class="flex flex-wrap items-start gap-5">
                    {
                        persona.map((link) => (
                            <a
                                href={link.url}
                                target="_blank"
                                class="flex items-center gap-3 transition-opacity hover:opacity-60 focus-visible:opacity-60"
                            >
                                <Icon name={link.icon} size={link.iconSize} />
                                <span class="text-sm font-light tracking-[0.4rem] text-zinc-300">
                                    {link.label}
                                </span>
                            </a>
                        ))
                    }
                </div>
            </div>
        </div>

        <div class="flex w-full flex-col items-start gap-4">
            <div class="h-px w-full bg-zinc-800"></div>

            <div
                class="flex w-full flex-wrap items-center justify-end gap-3 pb-6"
            >
                <p class="text-xs font-light tracking-[0.3rem] text-zinc-400">
                    built with
                </p>
                <a
                    href="https://vercel.com"
                    target="_blank"
                    class="flex items-center text-zinc-400 transition-opacity hover:opacity-60 focus-visible:opacity-60"
                >
                    <Icon name="simple-icons:vercel" />
                </a>
                <a
                    href="https://astro.build"
                    target="_blank"
                    class="flex items-center text-zinc-400 transition-opacity hover:opacity-60 focus-visible:opacity-60"
                >
                    <Icon name="simple-icons:astro" />
                </a>
                <a
                    href="https://tailwindcss.com"
                    target="_blank"
                    class="flex items-center text-zinc-400 transition-opacity hover:opacity-60 focus-visible:opacity-60"
                >
                    <Icon name="simple-icons:tailwindcss" />
                </a>
                <a
                    href="https://bun.sh"
                    target="_blank"
                    class="flex items-center text-zinc-400 transition-opacity hover:opacity-60 focus-visible:opacity-60"
                >
                    <Icon name="simple-icons:bun" />
                </a>
                <a
                    href="https://github.com/features/copilot"
                    target="_blank"
                    class="flex items-center text-zinc-400 transition-opacity hover:opacity-60 focus-visible:opacity-60"
                >
                    <Icon name="simple-icons:githubcopilot" />
                </a>
            </div>
        </div>
    </div>
</Layout>
